body {
  background-color: rgb(44, 41, 38);
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* main {
  display: flex;
  flex-direction: column;
  text-align: center;
} */
main h1 {
  text-align: center;
  font-size: 3rem;
}

#latest-products {
  width: 80%;
  margin: 2rem auto;
}

#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.food-items {
  background-color: #e1c7af;
  border-radius: 6px;
  overflow: hidden;
}

.food-items img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.food-item-content {
  padding: 1rem;
  text-align: center;
}

.food-items h2 {
  margin: 0 0 1rem 0;
  color: rgb(29, 26, 24);
}

.btn {
  background-color: rgb(228, 157, 44);
  color: white;
  border-radius: 4px;
  display: inline-block;
  padding: 0.5rem 1.5rem;
}
.btn:hover {
  background-color: rgb(221, 134, 34);
}

@media (max-width: 48rem) {
  main h1 {
    font-size: 1.5rem;
  }
  #latest-products ul {
    grid-template-columns: 100%;
  }
}
